@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "FilterSelect";
}

<h2>Select a Day</h2>

        <div>
            @Html.ActionLink("Sunday", "DayView", new { dayToView = "Sunday" }, "") <br />
            @Html.ActionLink("Monday", "DayView", new { dayToView = "Monday" }, "")<br />
            @Html.ActionLink("Tuesday", "DayView", new { dayToView = "Tuesday" }, "")<br/>
            @Html.ActionLink("Wednesday", "DayView", new { dayToView = "Wednesday" }, "")<br />
            @Html.ActionLink("Thursday", "DayView", new { dayToView = "Thursday" }, "")<br />
            @Html.ActionLink("Friday", "DayView", new { dayToView = "Friday" }, "")<br />
            @Html.ActionLink("Saturday", "DayView", new { dayToView = "Saturday" }, "")
        </div>
