@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "ProfileMap";
}
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        /*html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }*/
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="width: 400px; height: 400px;">
                <div id="map"></div>
            </div>
            <div class="col-md-7">
                <br />
                <h3>@Html.DisplayFor(m => m.Name)</h3>
                <h4>@Html.DisplayFor(m => m.Address.LineOne)</h4>
                <h4>@Html.DisplayFor(m => m.Address.LineTwo)</h4>
                <h4>@Html.DisplayFor(m => m.Address.City)</h4>
                <h4>@Html.DisplayFor(m => m.Address.State)</h4>
                <h4>@Html.DisplayFor(m => m.Address.ZipCode)</h4>
                <br />
            </div>
        </div>
    </div>
    <script>
        var map;
        var marker;
        var customerHouse = { lat: -34.397, lng: 150.644 };
            //{ lat: Model.Address.Latitude, lng: Model.Address.Longitude };
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: customerHouse,
                zoom: 8
            });
            marker = new google.maps.Marker({
                position: customerHouse,
                map: map
            });
        }

    </script>
    @{ 
        var myScriptSrc = "https://maps.googleapis.com/maps/api/js?key=" + APIkey.SecretKey + "&callback=initMap async defer";

    }
    <script src=@myScriptSrc></script>
</body>
</html>
